p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120%;
    }

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.75em;
    }
p.important {
    font-size: 1.5em;
    }
h2.bigger {
    font-size: 2.5em;
    }